@using Microsoft.AspNetCore.Http
@model Order;
@{

    ViewData["Title"] = "Shopping Cart";
}

SessionId: @Context.Session.Id

@foreach (LineItem item in Model.Items)
{
    <div class="card-body">
        @item.Product.Name<br/>
        @item.Price<br/>
        @item.Quantity<br/>
    </div>
}



<a class="nav-link text-dark" asp-controller="Product" asp-action="Index"> Back to index</a>