
@{
    ViewData["Title"] = "RegisterForm";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
<div class="register-form">
    <div class="message">
        <p style="font-weight: bold; font-size: 15px; color: red">@ViewBag.Message</p>
    </div>
    <div class="register-user-data">
        <label  class="form-label">User Name</label>
        <input type="text" class="form-control" placeholder="Username" name="userName" style="width: 20%">
    </div>
    <div class="register-user-data">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="userEmail" style="width: 20%">
    </div>
    <div class="register-user-data">
        <label class="form-label">Password</label>
        <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" name="userPassword" style="width: 20%">
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</div>
}

